body{
  margin: 0px;
  padding: 0px;

  display: grid;
  grid-template-columns: 1fr 6fr;
}

.header{
  background-color: white;
}

.sidebar{
  background-color: blue;
  grid-row: 1 / 3;
}

.content{
  background-color: gray;
}